.App {
    max-width: 600px;
    margin: 0px auto;
}

.TodoList {
    list-style: none;
    margin: 0px;
    padding: 0;
}

.TodoItem {
    padding: 8px;
    margin: 8px;
    border: 1px solid gray;
    display: flex;
}

.TodoItem--Completed {
    background-color: lightgray;
}

.TodoItem--Incomplete {
    background-color: lightblue;
}

.todoItem__Text {
    flex-grow: 1;
}